* {
    margin: 0;
    padding: 0;
  }

  .add-book-wrapper {
    position: absolute;
    width: 1442px;
    height: 1035px;
    left: 0px;
    top: 0px;
    background: rgba(196, 196, 196, 0.4);
  }

  .header {
    position: absolute;
    width: 1440px;
    height: 116px;
    left: 0px;
    top: 0px;
  }

  @font-face {
    font-family: 'Open Sans';
    src: url("../open-sans/OpenSans-Regular.ttf") format('truetype');
  }

  .header p{
    position: absolute;
    width: 402px;
    height: 69px;
    left: 86px;
    top: 22px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    color: #000000;
  }

  .add-data {
    background: url("/assets/Rectangle2.png");
    position: absolute;
    width: 1218px;
    height: 821px;
    left: 112px;
    top: 75px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  @font-face {
    font-family: 'Airbnb Cereal App';
    src: url("../airbnb-cereal-app/AirbnbCerealBook.woff");
  }

  .add-data p {
    position: absolute;
    width: 279px;
    height: 66px;
    left: 57px;
    top: 34px;
    font-family: 'Airbnb Cereal App';
    font-size: 40px;
    line-height: 52px;
    color: #000000;
  }

  .url p{
    position: absolute;
    width: 187px;
    height: 70px;
    left: 63px;
    top: 173px;
    font-family: 'Airbnb Cereal App';
    font-size: 30px;
    line-height: 39px;
    color: #000000;
  }

  .url-form input{
    position: absolute;
    width: 862px;
    height: 90px;
    left: 281px;
    top: 157px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;

    font-family: 'Airbnb Cereal App';
    font-size: 30px;
    line-height: 39px;
  }

  .title p {
    position: absolute;
    width: 187px;
    height: 70px;
    left: 63px;
    top: 301px;
    font-family: 'Airbnb Cereal App';
    font-size: 30px;
    line-height: 39px;
    color: #000000;
  }

  .title-form input {
    position: absolute;
    width: 862px;
    height: 90px;
    left: 281px;
    top: 285px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;

    font-family: Airbnb Cereal App;
    font-size: 30px;
    line-height: 39px;
  }

  .description p{
    position: absolute;
    width: 187px;
    height: 70px;
    left: 63px;
    top: 438px;
    font-family: Airbnb Cereal App;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
  }

  .description-form textarea{
    position: absolute;
    width: 862px;
    height: 200px;
    left: 281px;
    top: 422px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    
    font-family: Airbnb Cereal App;
    font-size: 30px;
    line-height: 39px;
  }

  .btn-save button{
    position: absolute;
    width: 204px;
    height: 80px;
    left: 948px;
    top: 683px;
    background: #FBCC38;
    border-radius: 15px;

    font-family: Airbnb Cereal App;
    font-size: 35px;
    line-height: 46px;
    color: #FFFDFD;
  }

  .card1 {
    background: url("/assets/Card1.png");
    position: absolute;
    width: 238px;
    height: 340px;
    left: 108px;
    top: 555px;
  }

  .card2 {
    background: url("/assets/Card2.png");
    position: absolute;
    width: 284px;
    height: 340px;
    left: 435px;
    top: 555px;
  }

  .card3 {
    background: url("/assets/Card3.png");
    position: absolute;
    width: 284px;
    height: 340px;
    left: 769px;
    top: 555px;
  }

  .card4 {
    background: url("/assets/Card4.png");
    position: absolute;
    width: 284px;
    height: 340px;
    left: 1102px;
    top: 555px;
  }