/* external css: flickity.css */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  /* body { font-family: sans-serif; } */
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    /* width: 66%;
    height: 200px; */
    width: 600px;
    height: 300px;
    margin-right: 10px;
    /* background: #8C8; */
    counter-increment: gallery-cell;
  }
  
  /* cell number
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  } */

  .carousel h1 {
    font-family: Airbnb Cereal App;
    font-size: 35px;
    line-height: 46px;
    color: #FFFFFF;
    margin-top: 189.6px;
    margin-left: 37.2px;
    font-weight: 600;
  }

  .carousel h3 {
    font-family: Airbnb Cereal App;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
  }

  .flickity-prev-next-button.next {
    margin-left: 900px;
  }

  .flickity-prev-next-button.previous {
    margin-left: 50px;
  }
  