.home-wrapper {
    width: 1440px;
    height: 1024px;
    display: flex;
}

.sidebar-wrapper {
    width: 347px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

.menu-icon {
    float: right;
    margin-top: 22px;
    margin-right: 21px;
}

.avatar {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
    margin-left: 94px;
}

@font-face {
    font-family: 'Airbnb Cereal App';
    src: url("../airbnb-cereal-app/AirbnbCerealBook.woff");
}

  @font-face {
    font-family: 'Open Sans';
    src: url("../open-sans/OpenSans-Regular.ttf") format('truetype');
}

.sidebar-wrapper h3 {
    margin: 16px 0 0 82px;
    width: 244px;
    height: 78px;
    font-family: Airbnb Cereal App;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    font-weight: 600;
}

.logout {
    position: absolute;
    width: 120px;
    height: 37px;
    left: 104px;
    top: 280px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 8px;
  }

  .logout p {
    position: absolute;
    width: 63px;
    height: 25px;
    left: 47px;
    top: 6px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #000000;
  }

  .logout p a{
    color: black;
    text-decoration: none;
  }

  .logout-pict {
    background: url(../assets/logout.png);
    position: absolute;
    width: 21.99px;
    height: 21.99px;
    left: 15px;
    top: 8px;
    transform: rotate(0.04deg);
  }

  .side-menu p{
    position: absolute;
    width: 244px;
    height: 56px;
    left: 49px;
    top: 345px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #000000;
  }

  .side-menu h1{
    position: absolute;
    width: 244px;
    height: 56px;
    left: 49px;
    top: 415px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #000000;
  }

  .side-menu h2{
    position: absolute;
    width: 148px;
    height: 33px;
    left: 49px;
    top: 486px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
  }

  .side-menu h2 a{
    color: black;
    text-decoration: none;
  }

  .header-wrapper {
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
      display: flex;
  }

  .logo img{
      margin-top: 12px;
      height: 50px;
      width: 50px;
  }

  .logo p {
    margin-top: 20px;
    margin-left: 10px;
    width: 187px;
    height: 47px;
    
    font-family: Airbnb Cereal App;
    font-size: 30px;
    line-height: 39px;
    font-weight: 600;
    
    color: #424242;
  }

  .btn-group {
    font-family: Airbnb Cereal App;
    font-size: 17px;
    line-height: 22px;
    color: #424242;
  }

  .sorting {
    display: flex;
  }
  
  .searching input{
    background: #FFFFFF;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    border-radius: 20px;
    width: 406px;
    height: 43px;
  }

  .searching::placeholder {
    font-family: 'Airbnb Cereal App';
    margin-left: 100px;
  }

  .searching img {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
  }

  .searching input::placeholder {
    padding-left: 40px;
  }

  .cardlist {
    height: 487px;
    width: 100%;
    font-family: Airbnb Cereal App;
  }

  .flex-fill h3 {
    width: 242px;
    height: 43px;
    font-family: Airbnb Cereal App;
    font-size: 25px;
    line-height: 33px;
    color: #424242;
    margin-left: 43px;
  }

  .card {
    width: 320px;
    height: 340px;
    margin-left: 32px;
    margin-bottom: 110px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  .card2 {
    width: 320px;
    height: 340px;
    margin-left: 38px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  .card3 {
    width: 320px;
    height: 340px;
    margin-left: 34.1px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  .card:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .card2:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .card3:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .modal-content {
    width: 1218px !important;
    height: 821px;
  }

  .add-data {
    background: url("/assets/Rectangle2.png");
    position: absolute;
    width: 1218px;
    height: 821px;
    left: 112px;
    top: 75px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  @font-face {
    font-family: 'Airbnb Cereal App';
    src: url("../airbnb-cereal-app/AirbnbCerealBook.woff");
  }

  .addbook p {
    position: absolute;
    width: 279px;
    height: 66px;
    left: 57px;
    top: 34px;
    font-family: 'Airbnb Cereal App';
    font-size: 40px;
    line-height: 52px;
    color: #000000;
  }

  .url p{
    width: 187px;
    height: 70px;
    margin-left: 10px;
    margin-top: 130px;
    font-family: 'Airbnb Cereal App';
    font-size: 30px;
    line-height: 39px;
    color: #000000;
  }

  .url-form input{
    position: absolute;
    width: 862px;
    height: 90px;
    left: 281px;
    top: 157px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;

    font-family: 'Airbnb Cereal App';
    font-size: 30px;
    line-height: 39px;
  }

  .title p {
    position: absolute;
    width: 187px;
    height: 70px;
    left: 63px;
    top: 301px;
    font-family: 'Airbnb Cereal App';
    font-size: 30px;
    line-height: 39px;
    color: #000000;
  }

  .title-form input {
    position: absolute;
    width: 862px;
    height: 90px;
    left: 281px;
    top: 285px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;

    font-family: Airbnb Cereal App;
    font-size: 30px;
    line-height: 39px;
  }

  .description p{
    position: absolute;
    width: 187px;
    height: 70px;
    left: 63px;
    top: 438px;
    font-family: Airbnb Cereal App;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
  }

  .description-form input{
    position: absolute;
    width: 862px;
    height: 200px;
    left: 281px;
    top: 422px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    
    font-family: Airbnb Cereal App;
    font-size: 30px;
    line-height: 39px;
  }

  .btn-save {
    /* width: 204px;
    height: 80px;
    background: #FBCC38;
    border-radius: 15px; */

    font-family: Airbnb Cereal App;
    font-size: 35px;
    line-height: 46px;
    color: #FFFDFD;
    margin-top: 300px;
    margin-left: 800px;
  }

  .addbook button{
    width: 148px;
    height: 33px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #000000;
    margin-top: 160px;
    margin-left: 30px;
  }

  .modal-content p {
    width: 279px;
    height: 66px;
    font-family: Airbnb Cereal App;
    font-size: 40px;
    line-height: 52px;
    color: #000000;
  }

  .carousel {
    height: 494px;
    width: 100%;
  }